.Products{
  display:flex;
  flex-direction: row;
  flex-wrap : wrap;
  width: 100%;
}
.prd_Card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.prd_Card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prd_img_div{
  text-align: center;
}
.prd_img{
  max-width:95%;
  max-height:100%;
}
.prd_name{
  font-size : 1.3rem;
  font-weight: 600;
  margin : 4%;
}
.prd_description{
  font-size : 0.8rem;
  margin : 2% 3% 2% 4%;
}
.prd_price{
  font-size : 1rem;
  margin : 2% 3% 1% 4%;
}
.prd_link_div{
  text-align: center;
}
.prd_link{
  position:relative;
  font-size : 1.2rem;
  font-weight: 500;
  text-decoration: none;
  background : #000000;
  color : white;
  border-radius : 10px;
  padding :5px;
}