body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.Header {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.Subject {
  margin-top: 80px; /* Adjusted for fixed header */
  margin-left: 10px;
  text-align: left;
}
.Subject p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #555;
}
.Cart {
  position: relative;
  display: inline-block;
}

.Cart .fas {
  font-size: 24px;
  margin-right: 20px;
}
.cart-count {
  position: absolute;
  top: 10px;
  right: 1px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 10px;
}


.Products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; /* Adjusted for fixed header */
}

.prd_Card {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 15px;
  text-align: left;
  width: calc(50% - 30px); /* Adjust width for three columns with margin */
  box-sizing: border-box;
  background-color: white;
}

.prd_img_div {
  margin-bottom: 10px;
}

.prd_img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.prd_name {
  font-weight: bold;
  margin-bottom: 10px;
}

.prd_description {
  margin-bottom: 10px;
  color: #555;
}

.prd_price {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  background-color: #000000;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 13px;
}

button:hover {
  background-color: #0056b3;
}
.btn-in-cart {
  background-color: #ccc;
  color: black;
}